*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(2, 0, 14);
    user-select: none;
    
    
}
.menu-part1{

    height: 90vh;
    width:15%;
    box-shadow: 0 0 5px rgb(64, 191, 230););
    color:white;

}